.div1{
	background-color: #b35900;
	width: 800px;
	margin: 50px auto;
    
}
.div2{
	text-align: center;
	margin-top: 15px;
	padding: 20px;
}
.div3{
	background-color: #ff9999;
	padding: 20px 20px;
}
.div4{
	background-color: #ffaa80;
	text-align: justify;
	padding: 10px 20px;
	margin: 10px;
}